.jumbotron p{
	background-image: url("http://fc03.deviantart.net/fs71/f/2009/362/8/c/Omega_Code___Wallpaper_by_Sagim.png");
	font-size: 15px;
	
}

.body{ 
  background-image: url("http://fc03.deviantart.net/fs71/f/2009/362/8/c/Omega_Code___Wallpaper_by_Sagim.png");

}

